{% extends 'admintemp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-0">PARTY DETAILS FORM</h5>
        <hr>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{ form|crispy }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}