{% extends 'admintemp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title mb-0">SINGLE WORK DETAIL</h5>
            <a href="{% url 'work-details' %}" class="btn-sm btn btn-primary">Back</a>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p><strong>Work Number:</strong></p>
            </div>
            <div class="col">
                <p><strong>Party Name:</strong></p>
            </div>
            <div class="col">
                <p><strong>Nature of Work:</strong></p>
            </div>
            <div class="col">
                <p><strong>Assigned To:</strong></p>
            </div>
        </div>

        <!-- Row for Values -->
        <div class="row">
            <div class="col">
                <p>work Number-{{data.id}}</p>
            </div>
            <div class="col">
                <p>{{data.Party_name}}</p>
            </div>
            <div class="col">
                <p>{{data.Nature_of_work}}</p>
            </div>
            <div class="col">
                <p>{{data.Assigned_to}}</p>
            </div>
        </div>

        <!-- Row for Nature of Work and Assigned To -->
        <div class="row mt-3">
            <div class="col">
                <p><strong>Status:</strong></p>
            </div>
            <div class="col">
                <p><strong>Finished Date:</strong></p>
            </div>
            <div class="col">
                <p><strong>Delivery Date:</strong></p>
            </div>
        </div>

        <!-- Row for Values -->
        <div class="row">
            <div class="col">
                <button 
                    type="button" 
                    class="btn btn-sm 
                        {% if data.status == 'Cancelled' %}btn-secondary
                        {% elif data.status == 'Pending' %}btn-primary
                        {% elif data.status == 'Completed' %}btn-danger
                        {% else %}btn-primary{% endif %}">
                    {{ data.status|default:"Pending" }}
                </button>
            </div>
            <div class="col">
                <p>{{data.Finished_date}}</p>
            </div>
            <div class="col">
                <p>{{data.Delivery_Date}}</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <p><strong>Bill Amount:</strong></p>
            </div>
            <div class="col">
                <p><strong>Fee Amount:</strong></p>
            </div>
            <div class="col">
                <p><strong>DOR:</strong></p>
            </div>
        </div>

        <!-- Row for Values -->
        <div class="row">
            <div class="col">
                <p>Rs.{{data.Bill_Amount}}</p>
            </div>
            <div class="col">
                <p>Rs.{{data.Fee_amount}}</p>
            </div>
            <div class="col">
                <p>{{data.DOR}}</p>
            </div>
        </div>

        
    </div>
</div>
{% endblock %}
