{% extends 'admintemp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title mb-0">STAFF DETAILS</h5>
            <a href="{% url 'add_staff' %}" class="btn btn-primary">Add</a>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Staff Id</th>
                    <th scope="col">Staff Name</th>
                </tr>
            </thead>
            <tbody>
                {% if data %}
                    {% for i in data %}
                    <tr>
                      <th scope="row">{{ i.staff_id }}</th>
                      <td>{{ i.staff_name }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="2" class="text-center py-4">
                        <strong>No data available</strong>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}